<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</head>

<body>
    <header>
        <div class="ui secondary  menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Products
            </a>
            <a class="item">
                Blog
            </a>
            <a class="item">
                About Us
            </a>


            <link rel="stylesheet" href="C:\Users\Marina\Desktop\Project2\E_Commerce\public\assets\css\style.css">
            </head>

            <body>
                <header>
                    <div class="ui secondary  menu">
                        <a class="active item">
                            Home
                        </a>
                        <a class="item">
                            Products
                        </a>
                        <a class="item">
                            Blog
                        </a>
                        <a class="item">
                            About Us
                        </a>
                        <img src="https://image.flaticon.com/icons/png/512/25/25619.png" class="shoppingcart"
                            style="max-height: 20px">
                    </div>
                </header>
                <div>
                    <img src="E_Commerce/public/assets/img/emptyheader.png">
                </div>

    </header>
    {{{body}}}

</body>

</html>