<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <header>

        <div class="ui secondary  menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Products
            </a>
            <a class="item">
                Blog
            </a>
            <a class="item">
                About Us
            </a>
            <img src="https://image.flaticon.com/icons/png/512/25/25619.png" class="shoppingcart"
                style="max-height: 20px">
        </div>


    </header>
    {{{body}}}

</body>

</html>