<div class="ui top fixed menu">
    <div class="item">
        <img src="http://lorempixel.com/400/200" />
    </div>
    <div class="right menu">
        <a class="item">Home</a>
        <a class="item">Products</a>
        <a class="item">Blog</a>
        <a class="item">About Us</a>

        <a class="item">
            <i class="large shopping cart icon"></i></a>
    </div>
</div>

<div class="ui raised very padded text container segment">

    <h2 class="ui header">About Us</h2>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
<img src="http://lorempixel.com/400/200" />
<img src="http://lorempixel.com/400/300" />
<img src="http://lorempixel.com/150/200" />
<img src="http://lorempixel.com/200/200" />