<div class="ui top fixed menu">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <div class="right menu">
        <a class="item">Home</a>
        <a class="item">Products</a>
        <a class="item">Blog</a>
        <a class="item">About Us</a>

        <a class="item">
            <i class="large shopping cart icon"></i></a>
    </div>
</div>
<div class="ui very relaxed items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="#link">Product 1</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum
                    luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt
                    tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia
                    porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris.
                    Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="#link">Product 2</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum
                    luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt
                    tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia
                    porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris.
                    Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="#link">Product 3</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum
                    luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt
                    tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia
                    porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris.
                    Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui animated button" tabindex="0">
    <div class="visible content">View</div>
    <div class="hidden content">
        <i class="eye icon"></i>
    </div>
</div>
<div class="ui vertical animated button" tabindex="0">
    <div class="hidden content">Add to Cart</div>
    <div class="visible content">
        <i class="shop icon"></i>
    </div>
</div>