<div>
    <img src="public/assets/img/emptyheader.png">
</div>
<div>
    <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut
        posuere nec tortor eu ullamcorper. Etiam pellentesque tincidunt tortor, non sagittis
        nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet
        diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius
        est egestas id.</p>
</div>
<div>

    <h2>Are Top Selling Products</h2>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui card">
                <img class="ui fluid image" src="public\assets\img\image.png">
                <div class="content">
                    <a class="header" href="#link">Product</a>
                    <div class="meta">
                        <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                            nec rutrum ipsum luctus. Ut
                            posuere nec tortor eu </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui card">

                <img class="ui fluid image" src="public\assets\img\image.png">

                <div class="content">
                    <a class="header" href="#link">Product</a>
                    <div class="meta">
                        <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                            nec rutrum ipsum luctus. Ut
                            posuere nec tortor eu </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <img class="ui fluid image" src="public\assets\img\image.png">
                <div class="content">
                    <a class="header" href="#link">Product</a>
                    <div class="meta">
                        <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                            nec rutrum ipsum luctus. Ut
                            posuere nec tortor eu </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>