<body>
    <div class="ui top fixed menu">
        <div class="item">
            <img src="/images/logo.png">
        </div>
        <div class="right menu">
            <a class="item">Home</a>
            <a class="item">Products</a>
            <a class="item">Blog</a>
            <a class="item">About Us</a>

            <a class="item">
                <i class="large shopping cart icon"></i></a>
        </div>
    </div>
    <div class="ui container">
        <div>
            <img src="assets/img/emptyheader.png">
        </div>
        <br>
        <div>
            <h5>
                Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut
                posuere nec tortor eu ullamcorper. Etiam pellentesque tincidunt tortor, non sagittis
                nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit
                amet
                diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor
                varius
                est egestas id.<br>
        </div>
        <br>
        <div>

            <h2 class="ui dividing header">Are Top Selling Products</h2>
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui card">
                        <img class="ui fluid image" src="assets\img\image.png">
                        <div class="content">
                            <a class="header" href="#link">Product</a>
                            <div class="meta">
                                <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                    dapibus,
                                    nec rutrum ipsum luctus. Ut
                                    posuere nec tortor eu </a>
                            </div>
                            <center>
                                <div class="ui button">
                                    Add to Cart
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui card">

                        <img class="ui fluid image" src="assets\img\image.png">

                        <div class="content">
                            <a class="header" href="#link">Product</a>
                            <div class="meta">
                                <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                    dapibus,
                                    nec rutrum ipsum luctus. Ut
                                    posuere nec tortor eu </a>
                            </div>
                            <center>
                                <div class="ui button">
                                    Add to Cart
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui card">
                        <img class="ui fluid image" src="assets\img\image.png">
                        <div class="content">
                            <a class="header" href="#link">Product</a>
                            <div class="meta">
                                <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                    dapibus,
                                    nec rutrum ipsum luctus. Ut
                                    posuere nec tortor eu </a>
                            </div>
                            <center>
                                <div class="ui button">
                                    Add to Cart
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</body>