<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui top fixed menu">
        <div class="item">
            <img src="/images/logo.png">
        </div>
        <div class="right menu">
            <a class="item">Home</a>
            <a class="item">Products</a>
            <a class="item">Blog</a>
            <a class="item">About Us</a>

            <a class="item">
                <i class="large shopping cart icon"></i></a>
        </div>
    </div>
    <div>
        <img src="public/assets/img/emptyheader.png">
    </div>
    <div>
        <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut
            posuere nec tortor eu ullamcorper. Etiam pellentesque tincidunt tortor, non sagittis
            nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet
            diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius
            est egestas id.</p>
    </div>
    <div>

        <h2>Are Top Selling Products</h2>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui card">
                    <img class="ui fluid image" src="public\assets\img\image.png">
                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui card">

                    <img class="ui fluid image" src="public\assets\img\image.png">

                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui card">
                    <img class="ui fluid image" src="public\assets\img\image.png">
                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

</body>

</html>