<div class="ui container aligned center">
    <div>



        <div class="ui fluid Massive image">

            <img src="https://specials-images.forbesimg.com/imageserve/1035676256/960x0.jpg?fit=scale">
            <div>
                <h1 style="position:absolute; top:40%; left:10%; color:white; font-size:80px">WELCOME TO THE BEST
                    ECOMMERCE WEBSITE</h1>
            </div>
        </div>




    </div>
    <br>
    <div>
        <h1 class="ui header aligned center">Our Top Selling Products</h1>
        <div>
            <div class="ui three cards">
                <div class="ui card">
                    <img class="ui fluid image"
                        src="https://kutv.com/resources/media/322437ac-95d2-48b0-b3ed-ef0631c0d249-large16x9_space.jpg?1547346699154">
                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                        <center>
                            <div class="teal ui button">
                                Add to Cart
                            </div>
                        </center>
                    </div>
                </div>



                <div class="ui card">
                    <img class="ui fluid image"
                        src="https://kutv.com/resources/media/322437ac-95d2-48b0-b3ed-ef0631c0d249-large16x9_space.jpg?1547346699154">

                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                        <center>
                            <div class="teal ui button">
                                Add to Cart
                            </div>
                        </center>
                    </div>
                </div>
                <div class="ui card">
                    <img class="ui fluid image"
                        src="https://kutv.com/resources/media/322437ac-95d2-48b0-b3ed-ef0631c0d249-large16x9_space.jpg?1547346699154">
                    <div class="content">
                        <a class="header" href="#link">Product</a>
                        <div class="meta">
                            <a class="time">Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo
                                dapibus,
                                nec rutrum ipsum luctus. Ut
                                posuere nec tortor eu </a>
                        </div>
                        <center>
                            <div class="teal ui button">
                                Add to Cart
                            </div>
                        </center>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>