<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</head>

<body>
    <header>
        <div class="ui secondary  menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Products
            </a>
            <a class="item">
                Blog
            </a>
            <a class="item">
                About Us
            </a>


            <link rel="stylesheet" href="C:\Users\Marina\Desktop\Project2\E_Commerce\public\assets\css\style.css">
            </head>

            <body>
                <header>
                    <div class="ui secondary  menu">
                        <a class="active item">
                            Home
                        </a>
                        <a class="item">
                            Products
                        </a>
                        <a class="item">
                            Blog
                        </a>
                        <a class="item">
                            About Us
                        </a>
                        <img src="https://image.flaticon.com/icons/png/512/25/25619.png" class="shoppingcart"
                            style="max-height: 20px">
                    </div>
                </header>
                <div>
                    <img src="E_Commerce/public/assets/img/emptyheader.png">
                </div>
                <div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like
                        Aldus PageMaker including versions of Lorem Ipsum.

                    </p>
                </div>
                <div>

                    <h2>Are Top Selling Products</h2>
                    <div class="topProducts">
                        <div class="card">
                            <img src="img_avatar.png" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Product Number 1</b></h4>
                                <p>A very short discription of the Product</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img_avatar.png" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Product Number 2</b></h4>
                                <p>A very short discription of the Product</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img_avatar.png" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>Product Number 3</b></h4>
                                <p>A very short discription of the Product</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </header>
    {{{body}}}

</body>

</html>