<div class="ui top fixed menu">
    <div class="item">
        <img src="http://lorempixel.com/400/200" />
    </div>
    <div class="right menu">
        <a class="item">Home</a>
        <a class="item">Products</a>
        <a class="item">Blog</a>
        <a class="item">About Us</a>

        <a class="item">
            <i class="large shopping cart icon"></i></a>
    </div>
</div>
<div class="ui very relaxed items">
    <div class="item">
        <div class="image">
            <img src="http://lorempixel.com/400/200" />
        </div>
        <div class="content">
            <a class="ui header" href="#link">{{product.name}}</a>
            <div class="description">
                <p>{{product.description}}</p>
                <p>{{product.price}}</p>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical animated button" tabindex="0">
    <div class="hidden content">Cart</div>
    <div class="visible content">
        <i class="shop icon"></i>
    </div>
</div>
<div class="ui animated button" tabindex="0">
    <div class="visible content">Check Out</div>
    <div class="hidden content">
        <i class="sign-out icon"></i>
    </div>
</div>